<div>
    <div id="mainFront">
        <button onclick="sellProduct()">Sell A New Product</button>
        <button onclick="seeListedProducts()">See Your Listed Products</button>
        <button onclick="seeSoldProducts()">See Your Listed Products</button>
    </div>

    <div id='SellProductForm' style="visibility: hidden;">
        <i class="fas fa-arrow-left" onclick="goBack()"></i>

        <form class="sell-form" onsubmit="event.preventDefault(); dashboardSellProduct()">
            <label for="title">Enter Product Title</label>
            <input type="text" id="title" name="title" class="title"><br><br>

            <label for="description">Enter Product Description</label>
            <input type="text" id="description" name="description" class="description"><br><br>

            <label for="price">Enter Product Price in US DOLLARS</label>
            <input type="number" id="price" name="price" class="price" value="1" min="1" max="1000"><br><br>

            <label for="quan">Enter Product Quantity You Want To Sell</label>
            <input type="number" id="quan" name="quan" class="quan" value="1" min="1" max="100"><br><br>

            <label for="image">Enter Product image link (it must end with .png or .jpg)</label>
            <input type="text" id="image" name="image" class="image"><br><br>

            <label for="category">Enter Product category</label>
            <input type="text" id="category" name="category" class="category"><br><br>


            <input type="submit" value="Add Product To Catalouge" class="sell-form-submit" id="sell-form-submit">
        </form>
    </div>
</div>

<script>
    var notyf = new Notyf();

    async function seeListedProducts() {
        window.location.href = window.location.origin + '/retailer/view_products'
    }
    async function seeSoldProducts() {
        window.location.href = window.location.origin + '/retailer/view_products_sold'
    }


    async function testImage(url) {
        return new Promise(function (resolve, reject) {
            var timeout = 5000;
            var timer, img = new Image();
            img.onerror = img.onabort = function () {
                clearTimeout(timer);
                resolve(false);
            };
            img.onload = function () {
                clearTimeout(timer);
                resolve(true);
            };
            timer = setTimeout(function () {
                img.src = "//!!!!/test.jpg";
                resolve(false);
            }, timeout);
            img.src = url;
        });
    }

    function sellProduct() {
        notyf.success("Loading Sell Product Form")
        document.getElementById('mainFront').style.visibility = 'hidden'
        document.getElementById('SellProductForm').style.visibility = 'visible'
    }

    function goBack() {
        document.getElementById('mainFront').style.visibility = 'visible';
        document.getElementById('SellProductForm').style.visibility = 'hidden';
    }

    async function dashboardSellProduct() {
        var title = document.getElementById('title').value
        var description = document.getElementById('description').value
        var price = parseInt(document.getElementById('price').value)
        var image = document.getElementById('image').value
        var category = document.getElementById('category').value
        var quan = parseInt(document.getElementById('quan').value)

        console.log(!(title.length > 0), !(description.length > 0), !(image.length > 0), !(category.length > 0))
        if (!(title.length > 0), !(description.length > 0), !(image.length > 0), !(category.length > 0)) {
            notyf.error("Please Fill All The Fields")
        } else if (isNaN(price)) {
            notyf.error("Please enter a valid integer of price in US DOLLARS")
        } else if (image && !await testImage(image)) {
            notyf.error(
                "Unable to load the image. Please enter a valid image url that can be loaded on XSS server request."
            )
        } else {
            var response = await fetch(
                window.location.origin + '/retailer/sellForm', {
                    method: 'POST',
                    body: JSON.stringify({
                        title,
                        description,
                        price,
                        image,
                        category,
                        quan
                    }),
                    headers: {
                        "Content-Type": "application/json; charset=utf-8"
                    }
                }).then(response => {
                return response.json()
            })
            if (await response.sucess == true) {
                goBack();
                notyf.success('Product Added Successfully To Website')
            } else if (response.sucess != true, response.hasOwnProperty('error')) {
                notyf.error(response.message)
                notyf.error(response.error)
            }
        }
    }
</script>