<div>
    <% if (user.type_of_user == false) { %>
    <div>
        <%- include('./type/retail.ejs') %>
    </div>
    <% } else { %>
    <div>
        <%- include('./type/consumer.ejs') %>
    </div>
    <% } %>
</div>