<h1>

    <% var type_of_user = ""; %>

    <% if (user.type_of_user == false) { type_of_user = "User is of type Consumer" } else {type_of_user = "User is of type Retailer"} %>
    <%= type_of_user %>
</h1>