<body>
    <div class="register-div">
        <h1>Register</h1>
        <p>Already have an account? <a href="/login">Login </a> </p>
        <form onsubmit="event.preventDefault(); indexSignup()">
            <label for="signup-index-fullname" class="name-l" placeholder="John Doe">Full Name</label>
            <input class="name" type="text" id="signup-index-fullname">
            <label for="signup-index-username" class="user-l" placeholder="john12">Username</label>
            <input class="user" type="text" id="signup-index-username">
            <label for="signup-index-email" class="email-l" placeholder="john@gmail.com">Email Address</label>
            <input class="email" type="text" id="signup-index-email">
            <label for="signup-index-password" class="pw-l" placeholder="john1234">Password</label>
            <input class="pw" type="password" id="signup-index-password">
            <label for="signup-index-confirm-password" class="c-pw-l" placeholder="john1234">Confirm Password</label>
            <input class="c-pw" type="password" id="signup-index-confirm-password">

            <!-- <input type="checkbox" id="terms">
        <label for="terms"> Agree To Terms and Conditions</label><br> -->
            <br>
            <label class="user-r">User Registration</label>
            <label class="switch">
                <input type="checkbox" id='type_of_user'>
                <span class="slider"></span>
            </label>
            <label class="retail">Retailer Registration</label>

            <input type="submit" value="Register" class="signup-index-submit btn" id="signup-index-submit">
            <br>
            <br>
            <br>
        </form>
    </div>
    <img src="https://media.discordapp.net/attachments/741244174736556076/887950051744317440/unknown.png?width=605&height=513"
        class="register-img" alt="">
</body>


<script src="/js/signup.js"></script>